:host {
    display:flex;
    flex-direction: column;
    height:100%;
    background: #1E1E1E;
}

::ng-deep .mat-dialog-container {
    background-color: #1E1E1E !important;
}

::ng-deep .md-editor-container .md-layout .tool-bar {
    background: #151515 !important;

}

::ng-deep i {
    color:white;
}

::ng-deep .preview-panel {
    color:black;
    background-color: #FFFFFF !important;
}