<h2 mat-dialog-title>
    <mat-form-field appearance="fill" style="width:100%">
        <mat-label>Title</mat-label>
        <input type="text" matInput [(ngModel)]="note.title" placeholder="{{note.title ? '' : 'Untitled'}}">
    </mat-form-field>
</h2>
<mat-dialog-content style="height:100%; max-height:unset" class="mat-typography">

    <md-editor #md="ngModel" name="Content" [(ngModel)]="note.text" [mode]="mode" [options]="options" required
        maxlength="600" height="97%"></md-editor>

    <!-- 
    <mat-form-field style="width:100%; height:100%">
        <mat-label *ngIf="!note.text">Lorem ipsum...</mat-label>
        <textarea type="text" matInput [(ngModel)]="note.text"> </textarea>
    </mat-form-field> -->
</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-top:auto">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="note" color="primary" cdkFocusInitial>Save</button>
</mat-dialog-actions>