.mat-green {
    color:green
}

.mat-orange {
    color:orange
}

mat-card {
    background: #1E1E1E;
    height:300px;
    width:300px;
    display:flex;
    flex-direction: column;
}

 .mat-card-content {
    margin-left:-16px;
    margin-right:-16px;
    height:100%;
    margin-bottom:0;
}

::ng-deep .preview-panel {
    color:black;
}

::ng-deep .preview-container {
    background: #fff
}

