<mat-card>
    <mat-progress-bar [mode]="deleting || saving ? 'indeterminate' : ''"
        style="margin: -16px -16px 16px -16px; width:calc(100% + 32px)"></mat-progress-bar>
    <mat-card-header>
        <mat-card-title>
            <div *ngIf="note.title">{{note.title  | slice:0:15}}</div>
            <div *ngIf="!note.title">Untitled</div>

        </mat-card-title>
        <mat-card-subtitle>
            24-07-2020 16:55
        </mat-card-subtitle>
        <button (click)="edit(note)" mat-icon-button style="margin-left:auto;">
            <mat-icon>fullscreen</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content style="display: flex; height:160px">

        <md-editor style="max-height:100%; max-width:100%; width:100%" #md="ngModel" name="Content"
            [(ngModel)]="note.text" [mode]="'preview'" [options]="options" required maxlength="600" height="100%">
        </md-editor>
    </mat-card-content>
    <mat-card-actions align="end" style="margin-top:auto">
        <button [disabled]="deleting" style="display:flex; align-items: center; justify-content:center;" color="warn"
            mat-button (click)="remove(note)">Delete</button>
    </mat-card-actions>
</mat-card>