<mat-toolbar style="min-height:64px; background:#202020">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Lazy-loading & Async</span>
  <span style="flex: 1 1 auto"></span>
  <button [routerLink]="'/home'" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button [routerLink]="'/notes'" mat-icon-button>
    <mat-icon>note</mat-icon>
  </button>
</mat-toolbar>
<router-outlet>
  <div *ngIf="loading"
    style="width:100%; height:calc(100vh - 64px); display:flex; justify-content:center; align-items:center;">
    <mat-spinner color="accent"></mat-spinner>

  </div>
</router-outlet>