:host {
    display:flex;
    height:100%;
    overflow-y: auto;
    justify-content: center;
}
.notes {
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width:95%;
    // justify-content: center;
}

app-note {

    // flex:1;
    margin:15px;
}
.mat-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.mat-card-content {
    display: flex;
    flex: 1;
}

