<div class="notes" *ngIf="(notes$ | async) as notes; else loading">
    <app-note *ngFor="let note of notes" [note]="note"></app-note>
    <button mat-fab color="primary" style="position:fixed; right:15px; bottom:15px;" (click)="createNote()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<ng-template #loading>
    <div style="width:100%; height:100%; display:flex; justify-content: center; align-items: center;">
        <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </div>
</ng-template>