/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #121212 !important; color:white;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.darkMode {
  background: #1E1E1E
}